.Nav{
    height: 70px;
    background-color: #F55A5A;
    
    display: flex;
        align-items: center;
        justify-content: center;
}

.ImageLogo{
   
        width: 24px;
        height: 24px;
        
    
        background: #DADADA;    
        border-radius: 50%;
        
}
.Nav-p{
    padding-left: 7px;
    color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.075em;
}